.nut-table {
    overflow: hidden;
    position: relative;
    word-wrap: break-word;
    word-break: break-all;
}

.nut-table-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 14px;
    /* $font-size-base */
    color: #1a1a1a;
    /* $color-title */
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    border: 1px solid #f0f0f0;
    /* $table-border-color */
}

.nut-table-wrapper-sticky {
    overflow-x: auto;
}

.nut-table-main {
    width: 100%;
    border-collapse: collapse;
    color: #1a1a1a;
    /* $color-title */
    background-color: #fff;
    /* $color-background-overlay */
    table-layout: fixed;
    min-width: 100%;
    position: relative;
}

.nut-table-main-striped thead tr {
    background-color: #fafafa;
    /* $table-tr-even-bg-color */
}

.nut-table-main-striped tbody tr:nth-child(odd) {
    background-color: #fff;
    /* $table-tr-odd-bg-color */
}

.nut-table-main-striped tbody tr:nth-child(even) {
    background-color: #fafafa;
    /* $table-tr-even-bg-color */
}

.nut-table-main thead,
.nut-table-main tbody {
    background: inherit;
}

.nut-table-main thead tr,
.nut-table-main tbody tr {
    background: inherit;
}

.nut-table-main tbody tr:last-child td {
    border-bottom: none;
}

.nut-table-main thead tr th {
    padding: 10px 16px;
    /* $table-cols-padding */
    background: inherit;
    position: sticky;
    top: 0;
    text-align: left;
}

.nut-table-main thead tr th.nut-table-fixed-left,
.nut-table-main thead tr th.nut-table-fixed-right {
    z-index: 4;
    background-color: #fff;
}

.nut-table-main thead tr th:last-child {
    border-right: none;
}

.nut-table-main tbody tr td {
    padding: 10px 16px;
    /* $table-cols-padding */
    background: inherit;
    text-align: left;
}

.nut-table-main tbody tr td:last-child {
    border-right: none;
}

.nut-table-main tbody tr td-nodata {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.nut-table-main-head-tr-border,
.nut-table-main-body-tr-border {
    border-right: 1px solid #f0f0f0;
    /* $table-border-color */
    border-bottom: 1px solid #f0f0f0;
    /* $table-border-color */
}

.nut-table-main-head-tr-alignleft,
.nut-table-main-head-tr-align,
.nut-table-main-body-tr-alignleft,
.nut-table-main-body-tr-align {
    text-align: start;
}

.nut-table-main-head-tr-aligncenter,
.nut-table-main-body-tr-aligncenter {
    text-align: center;
}

.nut-table-main-head-tr-alignright,
.nut-table-main-body-tr-alignright {
    text-align: end;
}

.nut-table-sticky-left,
.nut-table-sticky-right {
    position: absolute;
    top: 0px;
    width: 8px;
    bottom: -1px;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: none;
    touch-action: none;
    pointer-events: none;
    z-index: 3;
    background: transparent;
}

.nut-table-sticky-left {
    left: 1px;
    box-shadow: 6px 0 6px -4px rgba(0, 0, 0, 0.15);
    /* $table-sticky-left-shadow */
}

.nut-table-sticky-right {
    right: 1px;
    box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.15);
    /* $table-sticky-right-shadow */
}

.nut-table-fixed-left,
.nut-table-fixed-right {
    position: sticky;
    z-index: 2;
}

.nut-table-fixed-left.h5-div,
.nut-table-fixed-right.h5-div {
    /* 临时方案，小程序下，width包含了padding值。 */
    padding: 10px 16px 0;
    /* $table-cols-padding */
}

.nut-table-fixed-left-last {
    border-right: none;
}

.nut-table-summary {
    color: #1a1a1a;
    /* $color-title */
    background-color: #fff;
    /* $color-background-overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 10px 16px;
    /* $table-cols-padding */
    position: relative;
    z-index: 5;
}

/* RTL 支持 */
[dir='rtl'] .nut-table-main thead tr th:last-child,
.nut-rtl .nut-table-main thead tr th:last-child {
    border-right: none;
    border-left: none;
}

[dir='rtl'] .nut-table-main tbody tr td:last-child,
.nut-rtl .nut-table-main tbody tr td:last-child {
    border-right: none;
    border-left: none;
}

[dir='rtl'] .nut-table-main-head-tr-border,
[dir='rtl'] .nut-table-main-body-tr-border,
.nut-rtl .nut-table-main-head-tr-border,
.nut-rtl .nut-table-main-body-tr-border {
    border-right: none;
    border-left: 1px solid #f0f0f0;
    /* $table-border-color */
}

[dir='rtl'] .nut-table-main-head-tr-alignleft,
[dir='rtl'] .nut-table-main-head-tr-align,
[dir='rtl'] .nut-table-main-body-tr-alignleft,
[dir='rtl'] .nut-table-main-body-tr-align,
.nut-rtl .nut-table-main-head-tr-alignleft,
.nut-rtl .nut-table-main-head-tr-align,
.nut-rtl .nut-table-main-body-tr-alignleft,
.nut-rtl .nut-table-main-body-tr-align {
    text-align: right;
}

[dir='rtl'] .nut-table-main-head-tr-alignright,
[dir='rtl'] .nut-table-main-body-tr-alignright,
.nut-rtl .nut-table-main-head-tr-alignright,
.nut-rtl .nut-table-main-body-tr-alignright {
    text-align: left;
}

[dir='rtl'] .nut-table-sticky-left,
.nut-rtl .nut-table-sticky-left {
    left: auto;
    right: 1px;
    box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.15);
    /* $table-sticky-right-shadow */
}

[dir='rtl'] .nut-table-sticky-right,
.nut-rtl .nut-table-sticky-right {
    right: auto;
    left: 1px;
    box-shadow: 6px 0 6px -4px rgba(0, 0, 0, 0.15);
    /* $table-sticky-left-shadow */
}

[dir='rtl'] .nut-table-fixed-left-last,
.nut-rtl .nut-table-fixed-left-last {
    border-right: none;
    border-left: none;
}

/* 支持合并单元格的额外样式 */
.nut-table-main th,
.nut-table-main td {
    vertical-align: middle;
    border: 1px solid #f0f0f0;
}

.nut-table-main th {
    font-weight: 500;
    background-color: #fafafa;
}

/* 无边框样式 */
/* .nut-table:not(.nut-table-bordered) .nut-table-main th,
.nut-table:not(.nut-table-bordered) .nut-table-main td {
    border: none;
} */

/* 有边框样式 */
.nut-table.nut-table-bordered .nut-table-main {
    border: 1px solid #f0f0f0;
}

.nut-table.nut-table-bordered .nut-table-main th,
.nut-table.nut-table-bordered .nut-table-main td {
    border: 1px solid #f0f0f0;
}